@import "tailwindcss";

@font-face {
  font-family: 'Revelia';
  src: url('/fonts/revelia.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('ttf');
}

@theme {
  --font-revelia: Revelia, serif;
  --font-satoshi: Satoshi, serif;
  --color-ivory: #E6E6FA;
  --color-jetblack: #050505;
  --color-gold: #FDB321;
}

body {
    background-color: #E6E6FA;
}

.text-stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #050505;
}

